{
  "env": {
    "node": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "quotes": ["warn", "single", "avoid-escape"],
    "comma-dangle": ["warn", "only-multiline"],
    "eol-last": ["error"],
    "no-console": "off",
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "semi": ["error", "always"]
  }
}
